@model WebApplication1.Models.Evento

@{
    ViewBag.Title = "Exibir Carro";
}

<div class="container mt-4">
    <div class="card shadow-lg w-50 mx-auto">
        <div class="card-header bg-primary text-white text-center">
            <h2>Detalhes do Carro</h2>
        </div>

        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-5 fw-bold text-end">
                    @Html.DisplayNameFor(model => model.Local)
                </dt>

                <dd class="col-sm-5">
                    @Html.DisplayFor(model => model.Local)
                </dd>

                <dt class="col-sm-5 fw-bold text-end">
                    @Html.DisplayNameFor(model => model.Data)
                </dt>
                <dd class="col-sm-5">
                    @Html.DisplayFor(model => model.Data)
                </dd>
            </dl>
        </div>

            <div class="card-footer text-center">
                @Html.ActionLink("Editar", "Edit", new { id = ViewBag.id }, new { @class = "btn btn-warning px-4 me-3" })
                @Html.ActionLink("Voltar para a Lista", "List", null, new { @class = "btn btn-secondary btn-lg px-4" })
            </div>
        </div>
    </div>
</div>
