@model IEnumerable<WebApplication1.Models.Evento>

@{
    ViewBag.Title = "Lista";

}

<h2 class="text-center mb-4">Lista de Eventos</h2>

<p>
    <a class="btn btn-outline-success" href="@Url.Action("Create")">Cadastrar novo evento</a>
</p>

<table class="table  table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @item.GetFormattedData()
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = Model.ToList<WebApplication1.Models.Evento>().IndexOf(item) }, new { @class = "btn btn-warning btn-sm" }) |
                @Html.ActionLink("Exibir Detalhes", "Details", new { id = Model.ToList<WebApplication1.Models.Evento>().IndexOf(item) }, new { @class = "btn btn-info btn-sm" }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.ToList<WebApplication1.Models.Evento>().IndexOf(item) }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
    </tbody>
</table>
