@model WebApplication1.Models.Carro

@{
    ViewBag.Title = "Criar Carro";
}

<div class="container mt-4">
    <div class="card shadow-lg w-50 mx-auto">
        <div class="card-header bg-primary text-white text-center">
            <h2>Criar Carro</h2>
        </div>

        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <h4>Preencha os dados do carro</h4>
                </div>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group row">

                    @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "col-md-3 col-form-label text-md-end" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Placa, new
                       {
                           @class = "form-control text-center",
                           @id = "placa",
                           @name = "placa",
                           @style = "text-transform:uppercase"
                       })
                        @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-2">
                    @Html.LabelFor(model => model.Cor, htmlAttributes: new { @class = "col-md-3 col-form-label text-md-end" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Cor, new { htmlAttributes = new { @class = "form-control text-center" } })
                        @Html.ValidationMessageFor(model => model.Cor, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-2">
                    <div class="col-md-3 col-form-label text-md-end">
                        <P>Ano do carro</P>
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control text-center", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-md-12 d-flex justify-content-center">
                        <input type="submit" value="Criar" class="btn btn-success btn-lg me-2" />
                        @Html.ActionLink("Voltar", "Lista", null, new { @class = "btn btn-secondary btn-lg" })
                    </div>
                </div>

            }
        </div>
    </div>


</div>


@section Scripts {    
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Js/Validatorplaca.js"></script>


}
