@model WebApplication1.Models.Carro

@{
    ViewBag.Title = "Excluir Carro";
}

<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-danger text-white">
            <h2>Excluir Carro</h2>
        </div>
        <div class="card-body d-flex flex-column align-items-center">
            <h3 class="text-center text-danger">Tem certeza que deseja excluir este carro?</h3>
            <hr class="w-100" />
            <dl class="row w-75">
                <dt class="col-md-5 text-md-end fw-bold">
                    @Html.DisplayNameFor(model => model.Placa)
                </dt>
                <dd class="col-md-7 text-md-start">
                    @Html.DisplayFor(model => model.Placa)
                </dd>


                <dt class="col-md-5 text-md-end fw-bold">
                    @Html.DisplayNameFor(model => model.Cor)
                </dt>
                <dd class="col-md-7 text-md-start">
                    @Html.DisplayFor(model => model.Cor)
                </dd>

                <dt class="col-md-5 text-md-end fw-bold">
                   <p>Ano do carro</p>
                </dt>
                <dd class="col-md-7 text-start">
                    @Model.GetFormattedData()
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="mt-3 d-flex gap-3">
                    <input type="submit" value="Excluir" class="btn btn-danger btn-lg px-4" />
                    @Html.ActionLink("Voltar para a Lista", "Lista", null, new { @class = "btn btn-secondary btn-lg px-4" })
                </div>
            }
        </div>
    </div>
</div>
